/*首页*/
/*首页图片展示1*/
.indimgshow{
    width:100%;
    height:auto;
    position: relative;
}
.indimgshow1{
    width:100%;
    height: 684px;
    background: url("../images/ind_img1.png");
    background-size: 100% 684px;
}
.imgche1{
    display: none;
}
.imgche2{
    display: none;
}
.imgche3{
    display: none;
}
.imgche1:checked ~ .imglab1{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.imgche2:checked ~ .imglab2{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.imgche3:checked ~ .imglab3{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.imglab1{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999999;
    position: absolute;
    top: 90%;
    left: 47%;
    z-index: 1;
}
.imglab2{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999999;
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 1;
}
.imglab3{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999999;
    position: absolute;
    top: 90%;
    left: 53%;
    z-index: 1;
}
.imgche1:checked ~ .indimgshow1{
    background: url("../images/ind_img1.png");
    background-size: 100% 684px;
}
.imgche2:checked ~ .indimgshow1{
    background: url("../images/ind_img2.png");
    background-size: 100% 684px;
}
.imgche3:checked ~ .indimgshow1{
    background: url("../images/ind_img3.png");
    background-size: 100% 684px;
}
.ind_imgbox1{
    width: 100%;
    /*height: 200px;*/
    display: flex;
    justify-content: space-between;
}
.ind_imgbox2{
    width: 49.75%;
    /*height: 200px;*/
    display: flex;
    justify-content: space-between;
}
.ind_imgbox3{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img4.jpg");
    background-position: center center;
}
.ind_imgbox4{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img5.jpg");
    background-position: center center;
}
.ind_imgbox5{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img6.jpg");
    background-position: center center;
}
.ind_imgbox6{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img7.jpg");
    background-position: center center;
}
/*首页图片展示1 end*/
.ind_footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    font-size: 10px;
}
.ind_footer a{
    color: #666;
}
.ind_footer a:hover{
    color: #333;
}

.ind_footertext1{
    width: 55%;
    line-height: 30px;
    color: #999;
}
.ind_footertext2{
    width: 45%;
    line-height: 30px;
    text-align: right;
    color: #999;
}

@media screen and (max-width: 800px) {
    .indimgshow1{
        width:100%;
        height: 550px;
        background: url("../images/ind_img1.png");
        background-size: 100% 550px;
    }
    .imgche1:checked ~ .indimgshow1{
        background: url("../images/ind_img1.png");
        background-size: 100% 550px;
    }
    .imgche2:checked ~ .indimgshow1{
        background: url("../images/ind_img2.png");
        background-size: 100% 550px;
    }
    .imgche3:checked ~ .indimgshow1{
        background: url("../images/ind_img3.png");
        background-size: 100% 550px;
    }

    .ind_imgbox1{
        flex-direction:column;
    }
    .ind_imgbox2{
        width: 100%;
    }
    .ind_footer {
        width: 100%;
    }
}
@media screen and (max-width: 480px){
    .indimgshow1{
        width:100%;
        height: 350px;
        background: url("../images/ind_img1.png");
        background-size: 100% 350px;
    }
    .imgche1:checked ~ .indimgshow1{
        background: url("../images/ind_img1.png");
        background-size: 100% 350px;
    }
    .imgche2:checked ~ .indimgshow1{
        background: url("../images/ind_img2.png");
        background-size: 100% 350px;
    }
    .imgche3:checked ~ .indimgshow1{
        background: url("../images/ind_img3.png");
        background-size: 100% 350px;
    }
    .ind_imgbox2{
        flex-direction:column;
    }
    .ind_imgbox3{
       width: 100%;
    }
    .ind_imgbox4{
        width: 100%;
    }
    .ind_imgbox5{
        width: 100%;
    }
    .ind_imgbox6{
        width: 100%;
    }
    .ind_footer {
        flex-direction:column;
    }
    .ind_footertext1{
        width: 100%;
    }
    .ind_footertext2{
        width: 100%;
        text-align: left;
    }
}
/*首页end*/

/*store*/
.store_menubox{
    position: absolute;
    top:45px;
    width: 100%;
    height: 164px;
    background: rgba(76, 76, 76, 0.60);

}
.store_menubox1 {
    width: 80%;
    border: 1px solid #000000;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 800px){
    .store_menubox1 {
        width: 100%;
        height: 60px;
    }
}

@media screen and (max-width: 480px){

}
/*store end*/