/*首页*/
/*首页图片展示1*/
.indimgshow{
    width:100%;
    height:auto;
    position: relative;
}
.indimgshow1{
    width:100%;
    height: 684px;
    background: url("../images/ind_img1.png");
    background-size: 100% 684px;
}
.imgche1{
    display: none;
}
.imgche2{
    display: none;
}
.imgche3{
    display: none;
}
.imgche1:checked ~ .imglab1{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.imgche2:checked ~ .imglab2{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.imgche3:checked ~ .imglab3{
    border: 1px solid blue;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
}
.imglab1{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999999;
    position: absolute;
    top: 90%;
    left: 47%;
    z-index: 1;
}
.imglab2{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999999;
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 1;
}
.imglab3{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #999999;
    position: absolute;
    top: 90%;
    left: 53%;
    z-index: 1;
}
.imgche1:checked ~ .indimgshow1{
    background: url("../images/ind_img1.png");
    background-size: 100% 684px;
}
.imgche2:checked ~ .indimgshow1{
    background: url("../images/ind_img2.png");
    background-size: 100% 684px;
}
.imgche3:checked ~ .indimgshow1{
    background: url("../images/ind_img3.png");
    background-size: 100% 684px;
}
.ind_imgbox1{
    width: 100%;
    /*height: 200px;*/
    display: flex;
    justify-content: space-between;
}
.ind_imgbox2{
    width: 49.75%;
    /*height: 200px;*/
    display: flex;
    justify-content: space-between;
}
.ind_imgbox3{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img4.jpg");
    background-position: center center;
}
.ind_imgbox4{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img5.jpg");
    background-position: center center;
}
.ind_imgbox5{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img6.jpg");
    background-position: center center;
}
.ind_imgbox6{
    width: 49.5%;
    height: 200px;
    background: url("../images/ind_img7.jpg");
    background-position: center center;
}
/*首页图片展示1 end*/
.ind_footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    font-size: 10px;
}
.ind_footer a{
    color: #666;
}
.ind_footer a:hover{
    color: #333;
}

.ind_footertext1{
    width: 55%;
    line-height: 30px;
    color: #999;
}
.ind_footertext2{
    width: 45%;
    line-height: 30px;
    text-align: right;
    color: #999;
}

@media screen and (max-width: 800px) {
    .indimgshow1{
        width:100%;
        height: 550px;
        background: url("../images/ind_img1.png");
        background-size: 100% 550px;
    }
    .imgche1:checked ~ .indimgshow1{
        background: url("../images/ind_img1.png");
        background-size: 100% 550px;
    }
    .imgche2:checked ~ .indimgshow1{
        background: url("../images/ind_img2.png");
        background-size: 100% 550px;
    }
    .imgche3:checked ~ .indimgshow1{
        background: url("../images/ind_img3.png");
        background-size: 100% 550px;
    }

    .ind_imgbox1{
        flex-direction:column;
    }
    .ind_imgbox2{
        width: 100%;
    }
    .ind_footer {
        width: 100%;

    }
}
@media screen and (max-width: 480px){
    .indimgshow1{
        width:100%;
        height: 350px;
        background: url("../images/ind_img1.png");
        background-size: 100% 350px;
    }
    .imgche1:checked ~ .indimgshow1{
        background: url("../images/ind_img1.png");
        background-size: 100% 350px;
    }
    .imgche2:checked ~ .indimgshow1{
        background: url("../images/ind_img2.png");
        background-size: 100% 350px;
    }
    .imgche3:checked ~ .indimgshow1{
        background: url("../images/ind_img3.png");
        background-size: 100% 350px;
    }
    .ind_imgbox2{
        flex-direction:column;
    }
    .ind_imgbox3{
       width: 100%;
    }
    .ind_imgbox4{
        width: 100%;
    }
    .ind_imgbox5{
        width: 100%;
    }
    .ind_imgbox6{
        width: 100%;
    }
    .ind_footer {
        flex-direction:column;
    }
    .ind_footertext1{
        width: 100%;
    }
    .ind_footertext2{
        width: 100%;
        text-align: left;
    }
}
/*首页end*/

/*store*/
/*store 菜单*/
.store_menubox{
    position: absolute;
    top:45px;
    width: 100%;
    height: 164px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.store_menubox1 {
    width: 80%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.storetext1{
    opacity: 0.6;
}
.storetext1:hover{
    opacity: 1;
}
.store_menuul{
    display: flex;
}
.store_menuul li{
    margin-left: 20px;
    opacity: 0.4;
}
.store_menuul li:hover{
    opacity: 1;
}

.countche{
    display: none;
}
.countlab{
    display: block;
    width: 35px;
    height: 20px;
    background: url("../images/icon1.png");
}
.shopche{
    display: none;
}
.shoplab{
    display: block;
    width: 30px;
    height: 13px;
    background: url("../images/icon2.png");
}
.equi{
    width: 80%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}
.equi li{
    text-align: center;
    color: #666;
    line-height: 25px;
}
/*store菜单end*/
.store_box1{
    width: 100%;
    position:relative;
}
.store_img1{
    width: 100%;
    height: auto;
}
.store_imgtext{
    position: absolute;
    left: 30%;
    top: 70%;
    font-size: 40px;
    font-family: "微软雅黑", "黑体";
}
.store_box2{
    width: 100%;
    padding-top: 50px;
    position: relative;
}
.store_img2{
    width: 35%;
    position: relative;
    left: 60%;
}
.store_img2_logo{
    position: absolute;
    width: 15%;
    top:30%;
    left: 25%;
}
.store_img2_botton{
    position: absolute;
    top:42%;
    left: 30%;
    border-radius: 3px;
    color:#f5f5f5;
   background-color: #0c90d2;
    background: -webkit-gradient(linear,left top ,left bottom,
    from(#38b6f5),to(#028acd));
    padding:8px 12px;
}
.store_img3{
    width: 28%;
    position: relative;
    left: 15%;
}
.store_img3_botton{
    position: absolute;
    top:45%;
    left: 68%;
    border-radius: 3px;
    color:#f5f5f5;
    background-color: #0c90d2;
    background: -webkit-gradient(linear,left top ,left bottom,
    from(#38b6f5),to(#028acd));
    padding:8px 12px;
}
.store_img3_text{
    font-size: 50px;
    font-family: "微软雅黑", "黑体";
    position: absolute;
    top:30%;
    left: 64%;
}
.store_box3{
    width: 100%;
    padding-top: 130px;
    padding-bottom: 100px;
    position: relative;
    /*border: 1px solid #000000;*/
}
.store_img4_text{
    font-size: 48px;
    font-family: "微软雅黑", "黑体";
    position: relative;
    left: 40%;
}
.store_img4_botton{
    position: relative;
    top:20px;
    left: 48%;
    border-radius: 3px;
    color:#f5f5f5;
    background-color: #0c90d2;
    background: -webkit-gradient(linear,left top ,left bottom,
    from(#38b6f5),to(#028acd));
    padding:8px 12px;
}
.store_img4{
    width: 80%;
    margin: 0 auto;
   position: relative;
    left: 10%;
    margin-top: 50px;
}
.store_img5{
    width: 28%;
    position: relative;
    left: 65%;
}

.store_img5_botton{
    position: absolute;
    top:48%;
    left: 35%;
    border-radius: 3px;
    color:#f5f5f5;
    background-color: #0c90d2;
    background: -webkit-gradient(linear,left top ,left bottom,
    from(#38b6f5),to(#028acd));
    padding:8px 12px;
}
.store_img5_text{
    font-size: 50px;
    font-family: "微软雅黑", "黑体";
    position: absolute;
    top:30%;
    left: 30%;
}
@-webkit-keyframes frame1{
    from{transform:translateY(0)}
   50%{transform:translateY(50px)}
    to{transform:translateY(0)}
}
.store_box2:hover .store_img2{
    -webkit-animation:frame1 2s linear infinite;
}
.store_box2:hover .store_img3{
    -webkit-animation:frame1 2s linear infinite;
}
.store_box3:hover .store_img4{
    -webkit-animation:frame1 2s linear infinite;
}
.store_box2:hover .store_img5{
    -webkit-animation:frame1 2s linear infinite;
}


/*配件*/
.acc_state{
    width: 100%;
    height: 75px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    margin-top: 80px;
    text-align: center;
}
.acc_text1{
    display: inline-block;
    padding-left: 30px;
    height: 20px;
    margin-top: 30px;
    background: url("../images/icon-shipping.jpg") no-repeat;
}
.acc_text1:hover{
    color: #08c;
}
.acc_title{
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 30px;
    line-height: 50px;
}
.acc_titletext1{
    font-size: 40px;
    font-weight:bold;
}
.acc_titletext2{
    font-size: 20px;
    color: #0088cc;
}
.acc_box{
    margin-top: 200px;
}
.acc_box1{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
}
.acc_box2{
    width: 49.5%;
    position: relative;
}
.acc_img{
    width: 100%;
}
.acc_text2{
    position: absolute;
    left: 20%;
    bottom:10%
}
.acc_text2:hover{
    color: #009edd;
}
.acc_text3{
    position: absolute;
    left: 40%;
    bottom:5%;
    color: #979797;
}
/*配件*/

/*专家沟通*/
.chat{
    width: 100%;
    position: relative;
}
.chatbg{
    width: 100%;
}
.chatbox{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chattext1{
    color: #ffffff;
    font-size: 50px;
    position: relative;
    top: 10%;
}
.chattext2{
    color: #ffffff;
    font-size: 20px;
    position: relative;
    top: 15%;
}
/*专家沟通 end*/

/*配件 end*/
.store_box4{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    line-height: 50px;
}
.dowimg{

}
.dowtext1{
    font-size: 25px;
}
.dowtext2{
    font-size: 18px;
}
.dowtext3{
    font-size: 15px;
    color: #009edd;
}
.footertitle{
     width: 100%;
    height: 50px;
    background: #f2f2f2;
    position: relative;
    line-height: 50px;
}
.footertitle_text{
    position: absolute;
    left: 10%;
    color: #666;
    text-shadow: 0 1px 0 white;
}
.footer_ulbox{
    width: 100%;
    background: #f2f2f2;

}
.footer_ulbox1{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}
.footer_ul{
    color: #666;
    line-height: 23px;
}
.footer_ul li:nth-child(1){
    font-weight: bolder;
    color: #000000;
}
@media screen and (max-width: 800px){

    .store_menubox1 {
        width: 100%;
        height: 60px;
    }
    .store_imgtext{
        font-size: 20px;
    }
    .store_img3_text{
        font-size: 20px;
    }
    .store_img4_text{
        font-size: 20px;
    }
    .store_img5_text{
        font-size: 20px;
    }
    .equi{
        width: 100%;
        justify-content: space-around;
}
    .store_img2_botton {
        position: absolute;
        left: 25%;
    }
    .store_img3_botton {
        position: absolute;
        left: 63%;
    }
    .store_img4_botton {
        left: 40%
    }
    .store_img5_botton {
        position: absolute;
        left: 30%;
    }
    .acc_box1{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .acc_box2{
        width: 100%;
        position: relative;
    }
    .acc_text3{
        left: 40%;
    }

    .chattext1{
        font-size: 30px;
    }
    .chattext2{
        font-size: 18px;
    }
    .store_box4{
        width: 100%;
        height:380px;
    }
    .dowtext1{
        font-size: 18px;
    }
    .dowtext2{
        font-size: 15px;
    }
    .dowtext3{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px){
    .chattext1{
        font-size: 22px;
    }
    .chattext2{
        font-size: 15px;
    }
    .store_box4{
        width: 100%;
        height:400px;
    }
    .dowtext1{
        font-size: 15px;
    }
    .dowtext2{
        font-size: 13px;
    }
    .dowtext3{
        font-size: 12px;
    }
    .footer_ulbox1{
        flex-direction: column;
    }
}
/*store end*/

/*Mac*/
.mac_menubox{
    width: 100%;
    background: rgba(255, 255, 255, 0.82);
    position: absolute;
    top: 40px;
    z-index: 3;
}
.mac_menubox1{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.mac{
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    color: #666;
    -webkit-animation:frame2 2s linear,
frame3 2s linear;
}
.mac2{
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    color: #666;
    -webkit-animation:frame2 2s linear,
    frame3 2s linear;
}
@-webkit-keyframes frame2{
    from{transform:translateX(20px)}
    to{transform:translateX(0)}
}
@-webkit-keyframes frame3{
    from{opacity: 0}
    to{opacity: 1)}
}
.mac_img1{
    position: relative;
    left: 50%;
    width: 50%;
}
.mac_img1:hover {
    -webkit-animation: frame1 2s linear;
}
.mac_imgtext{
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: 35px;
    font-family: "微软雅黑", "黑体";
}
.mac_box1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.mac_box2{
   width: 33%;
    height: 274px;
    background: url("../images/macimg1.jpg");
    background-position: center center;
}
.mac_box3{
    width: 33%;
    height: 274px;
    background: url("../images/macimg2.jpg");
    background-position: center center;
}
.mac_box4{
    width: 33.5%;
    height: 274px;
    background: url("../images/macimg3.jpg");
    background-position: center center;
}
.macbox5{
    width: 100%;
    background: #f2f2f2;
    padding-top: 20px;
}
.macbox6{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.macbox6img{

}
.macbox6text{
     font-size: 30px;
}
.macbox6text2{
    font-size: 22px;
    color: #08c;
    cursor: pointer;
}
.macbox7{
    padding-top: 30px;
    width: 100%;
    background: #f2f2f2;
}
.macbox8{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.macbox9{
    text-align: center;
    width: 20%;
    height: 250px;
    position: relative;
    line-height: 25px;
}
.macbox9_text1{
    font-size: 20px;
}
.macbox9_text2{
    font-size: 13px;
    color: #666;
}
.macbox9_text3{
    color: #08c;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 40%;
}
.macbox9_text4{
    /*color: #08c;*/
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    left: 40%;
}
.footerli{
    color: #000000;
    font-weight: bolder;
}
@media screen and (max-width: 800px){

    .mac_menubox1{
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .mac_menubox{
        /*transform: scale(0.8);*/
    }
    .mac_imgtext{
        font-size: 20px;
    }
    .mac_box1{
        flex-direction: column;
    }
    .mac_box2{
        width: 100%;
    }
    .mac_box3{
        width: 100%;
    }
    .mac_box4{
        width: 100%;
    }
    .macbox6{
        width: 100%;
    }

    .macbox8{
        flex-direction: column;
    }
    .macbox9{
        width: 100%;
    }
    .macbox9_text3{
        left: 45%;
        /*top: 50px;*/
    }

}

@media screen and (max-width: 600px){
    .mac_menubox1{
        display: flex;
        flex-direction: column;
        /*transform: scale(1,0.5);*/
    }
    .mac_menubox{
        top: -10px;
        transform: scaleY(0.5);
    }
    .mac_imgtext{
        font-size: 15px;
    }

}

/*Mac end*/